flows-formatted.json
[
    {
        "id": "b0a74e34aa15d80a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a64661fe85a435fa",
        "type": "mqtt in",
        "z": "b0a74e34aa15d80a",
        "name": "Temparature",
        "topic": "ESP32/BMP280/Temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6c9aa210863f6d76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 20,
        "wires": [
            [
                "c1baa07748685f46"
            ]
        ]
    },
    {
        "id": "a1554088227ea49a",
        "type": "mqtt in",
        "z": "b0a74e34aa15d80a",
        "name": "Pressure",
        "topic": "ESP32/BMP280/Pressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6c9aa210863f6d76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "d457ef1f69ea41f9"
            ]
        ]
    },
    {
        "id": "28a574b9e1327d26",
        "type": "mqtt in",
        "z": "b0a74e34aa15d80a",
        "name": "Touch",
        "topic": "ESP32/Touch/Status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6c9aa210863f6d76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "d722bfb13709aac6"
            ]
        ]
    },
    {
        "id": "1ace60f77954b99f",
        "type": "mqtt in",
        "z": "b0a74e34aa15d80a",
        "name": "",
        "topic": "ESP32/IR/Motion",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6c9aa210863f6d76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "5e805e3ee0d5ad62"
            ]
        ]
    },
    {
        "id": "c1baa07748685f46",
        "type": "ui-gauge",
        "z": "b0a74e34aa15d80a",
        "name": "Tempararture",
        "group": "4cf291e9f25b3294",
        "order": 2,
        "width": 3,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Tempararture",
        "units": "C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 20,
        "wires": []
    },
    {
        "id": "d457ef1f69ea41f9",
        "type": "ui-gauge",
        "z": "b0a74e34aa15d80a",
        "name": "Pressure",
        "group": "4cf291e9f25b3294",
        "order": 1,
        "width": 3,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Pressure",
        "units": "hPa",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "5",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": "300",
        "max": "10000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "d722bfb13709aac6",
        "type": "switch",
        "z": "b0a74e34aa15d80a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "ae6e966a4611f9ab"
            ],
            [
                "a035f39025107096"
            ]
        ]
    },
    {
        "id": "5e805e3ee0d5ad62",
        "type": "switch",
        "z": "b0a74e34aa15d80a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "7c8ed18619f0f708"
            ],
            [
                "5370ee753306043f"
            ]
        ]
    },
    {
        "id": "ae6e966a4611f9ab",
        "type": "change",
        "z": "b0a74e34aa15d80a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Touch Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "0c7f9e0e7573ea70"
            ]
        ]
    },
    {
        "id": "a035f39025107096",
        "type": "change",
        "z": "b0a74e34aa15d80a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No Touch Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "0c7f9e0e7573ea70"
            ]
        ]
    },
    {
        "id": "7c8ed18619f0f708",
        "type": "change",
        "z": "b0a74e34aa15d80a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Motion Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "cc3e4cb508934115"
            ]
        ]
    },
    {
        "id": "5370ee753306043f",
        "type": "change",
        "z": "b0a74e34aa15d80a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No Motion Detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 340,
        "wires": [
            [
                "cc3e4cb508934115"
            ]
        ]
    },
    {
        "id": "0c7f9e0e7573ea70",
        "type": "ui-text",
        "z": "b0a74e34aa15d80a",
        "group": "28a2674678f3708e",
        "order": 2,
        "width": 0,
        "height": 2,
        "name": "Touch",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#e31616",
        "wrapText": false,
        "className": "",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "cc3e4cb508934115",
        "type": "ui-text",
        "z": "b0a74e34aa15d80a",
        "group": "28a2674678f3708e",
        "order": 1,
        "width": 0,
        "height": 2,
        "name": "Motion",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "19",
        "color": "#5116d0",
        "wrapText": false,
        "className": "",
        "x": 1270,
        "y": 320,
        "wires": []
    },
    {
        "id": "7993be452d44f503",
        "type": "mqtt out",
        "z": "b0a74e34aa15d80a",
        "name": "LED control",
        "topic": "/LedControl",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c9aa210863f6d76",
        "x": 310,
        "y": 360,
        "wires": []
    },
    {
        "id": "3efbeea6711aceaa",
        "type": "ui-form",
        "z": "b0a74e34aa15d80a",
        "name": "Sign Up",
        "group": "6ed2b65f2e7c366b",
        "label": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "key": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Access Level",
                "key": "access",
                "type": "dropdown",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "access": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "access",
                "value": "admin",
                "label": "admin"
            },
            {
                "dropdown": "access",
                "value": "user",
                "label": "user"
            },
            {
                "dropdown": "access",
                "value": "guest",
                "label": "guest"
            }
        ],
        "x": 100,
        "y": 460,
        "wires": [
            [
                "e9d906872f51def0"
            ]
        ]
    },
    {
        "id": "e9d906872f51def0",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "insert statement",
        "func": "const { username, password, access } = msg.payload;\n\nmsg.topic = `INSERT INTO users (username, password, access) VALUES ('${username}', '${password}', '${access}')`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 460,
        "wires": [
            [
                "1b073e73f4125aaa"
            ]
        ]
    },
    {
        "id": "1b073e73f4125aaa",
        "type": "sqlite",
        "z": "b0a74e34aa15d80a",
        "mydb": "7b7a47908b23ed17",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "insert users",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "4d544bcce1731312"
            ]
        ]
    },
    {
        "id": "c5d1f1714f1c2963",
        "type": "ui-text",
        "z": "b0a74e34aa15d80a",
        "group": "6ed2b65f2e7c366b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "msg display",
        "label": "Status :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "4d544bcce1731312",
        "type": "change",
        "z": "b0a74e34aa15d80a",
        "name": "success msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "User registered successfully!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "c5d1f1714f1c2963"
            ]
        ]
    },
    {
        "id": "cf453e1bc96b11b8",
        "type": "ui-switch",
        "z": "b0a74e34aa15d80a",
        "name": "Led control",
        "label": "switch",
        "group": "3b1a84f5285b89f1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "7993be452d44f503"
            ]
        ]
    },
    {
        "id": "5337a7e397f570e5",
        "type": "inject",
        "z": "b0a74e34aa15d80a",
        "name": "Refresh users",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "fb065bc3f5c7bb5c"
            ]
        ]
    },
    {
        "id": "0e385a041b5e7553",
        "type": "ui-table",
        "z": "b0a74e34aa15d80a",
        "group": "b327d24421d42fa3",
        "name": "Users",
        "label": "Registered Users",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "100",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 670,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b12d82082e1cea77",
        "type": "sqlite",
        "z": "b0a74e34aa15d80a",
        "mydb": "7b7a47908b23ed17",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "fetch users",
        "x": 530,
        "y": 800,
        "wires": [
            [
                "0e385a041b5e7553"
            ]
        ]
    },
    {
        "id": "fb065bc3f5c7bb5c",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "select statement",
        "func": "msg.topic = \"SELECT username, password, access FROM users\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 800,
        "wires": [
            [
                "b12d82082e1cea77"
            ]
        ]
    },
    {
        "id": "ebfa97e4f769aa36",
        "type": "ui-form",
        "z": "b0a74e34aa15d80a",
        "name": "Changing user access",
        "group": "47642211291d9eec",
        "label": "Update Access Level",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Access Level",
                "key": "access",
                "type": "dropdown",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "access": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "access",
                "value": "admin",
                "label": "admin"
            },
            {
                "dropdown": "access",
                "value": "user",
                "label": "user"
            },
            {
                "dropdown": "access",
                "value": "guest",
                "label": "guest"
            }
        ],
        "x": 200,
        "y": 860,
        "wires": [
            [
                "feb5b47ca3e9f18a"
            ]
        ]
    },
    {
        "id": "feb5b47ca3e9f18a",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "Update",
        "func": "msg.params = [msg.payload.access, msg.payload.username];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [
                "c8b7554bc4898072"
            ]
        ]
    },
    {
        "id": "c8b7554bc4898072",
        "type": "sqlite",
        "z": "b0a74e34aa15d80a",
        "mydb": "7b7a47908b23ed17",
        "sqlquery": "prepared",
        "sql": "UPDATE users SET access = ? WHERE username = ?\n",
        "name": "update acces",
        "x": 610,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "23a5a0afe449b913",
        "type": "ui-form",
        "z": "b0a74e34aa15d80a",
        "name": "Delete User",
        "group": "45f2c8e93885fb82",
        "label": "Delete User",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": ""
        },
        "payload": "",
        "submit": "delete",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 170,
        "y": 920,
        "wires": [
            [
                "df2d2dd289090769"
            ]
        ]
    },
    {
        "id": "1308218e8ef07f4e",
        "type": "sqlite",
        "z": "b0a74e34aa15d80a",
        "mydb": "7b7a47908b23ed17",
        "sqlquery": "prepared",
        "sql": "DELETE FROM users WHERE username = ?",
        "name": "delete user",
        "x": 530,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "df2d2dd289090769",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "delete query",
        "func": "const { username } = msg.payload;\n\nif (!username) {\n    node.error(\"Username is required to delete a user.\");\n    return null;\n}\n\nmsg.params = [username];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 920,
        "wires": [
            [
                "1308218e8ef07f4e"
            ]
        ]
    },
    {
        "id": "36ee0bdf3422f2ad",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "Store Function",
        "func": "flow.set(\"input_password\", msg.payload.password);\nmsg.params = [msg.payload.username];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "886f6a5ba135a1d5"
            ]
        ]
    },
    {
        "id": "6abbc580741b2d37",
        "type": "ui-form",
        "z": "b0a74e34aa15d80a",
        "name": "Login",
        "group": "c0daa374d1ce4022",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "key": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 150,
        "y": 560,
        "wires": [
            [
                "36ee0bdf3422f2ad"
            ]
        ]
    },
    {
        "id": "886f6a5ba135a1d5",
        "type": "sqlite",
        "z": "b0a74e34aa15d80a",
        "mydb": "7b7a47908b23ed17",
        "sqlquery": "prepared",
        "sql": "SELECT * FROM users WHERE username = ?\n",
        "name": "prepared statement",
        "x": 510,
        "y": 560,
        "wires": [
            [
                "edd207b73481561e"
            ]
        ]
    },
    {
        "id": "edd207b73481561e",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "Validate and store",
        "func": "const user = msg.payload[0];\nconst inputPwd = flow.get(\"input_password\");\n\nif (!user) return [null, { payload: \"Invalid username!\" }];\nif (user.password !== inputPwd) return [null, { payload: \"Incorrect password!\" }];\n\n// Store login info\nglobal.set(\"access_level\", user.access);\nglobal.set(\"current_user\", user.username);\nglobal.set(\"loggedIn\", true);\n\n// Send payload to navbar\nconst navbarMsg = {\n    payload: {\n        username: user.username,\n        loggedIn: true\n    }\n};\n\n// Forward access level to switch (to show/hide tabs)\nmsg.payload = user.access;\nreturn [msg, navbarMsg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 560,
        "wires": [
            [
                "2c91860b54e7c81b"
            ],
            [
                "35c6b39ed5a24efa"
            ]
        ]
    },
    {
        "id": "2c91860b54e7c81b",
        "type": "switch",
        "z": "b0a74e34aa15d80a",
        "name": "Acess switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "admin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "user",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "guest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 970,
        "y": 540,
        "wires": [
            [
                "2454b7ba95c6b241"
            ],
            [
                "d9c5d6fbd878ba95"
            ],
            [
                "abab44a89503fb5c"
            ]
        ]
    },
    {
        "id": "2454b7ba95c6b241",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "admin",
        "func": "return {\n    user: global.get(\"current_user\"),\n    payload: {\n        tabs: {\n            show: [\"Sensors\", \"GPIO Control\", \"Settings\"],\n            hide: [\"Sign In\"]\n        },\n        page: \"Sensors\"\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 500,
        "wires": [
            [
                "c2aebc34087504e7"
            ]
        ]
    },
    {
        "id": "d9c5d6fbd878ba95",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "user",
        "func": "return {\n    user: global.get(\"current_user\"),\n    payload: {\n        tabs: {\n            show: [\"Sensors\", \"GPIO Control\"],\n            hide: [\"Sign In\", \"Settings\"]\n        },\n        page: \"Sensors\"\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 540,
        "wires": [
            [
                "c2aebc34087504e7"
            ]
        ]
    },
    {
        "id": "abab44a89503fb5c",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "guest",
        "func": "return {\n    user: global.get(\"current_user\"),\n    payload: {\n        tabs: {\n            show: [\"Sensors\"],\n            hide: [\"Sign In\", \"GPIO Control\", \"Settings\"]\n        },\n        page: \"Sensors\"\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "c2aebc34087504e7"
            ]
        ]
    },
    {
        "id": "c2aebc34087504e7",
        "type": "ui-control",
        "z": "b0a74e34aa15d80a",
        "name": "",
        "ui": "24f0e001c0e329df",
        "events": "all",
        "x": 1300,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f0503b99b8d5c83a",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "Logout",
        "func": "if (msg.payload === \"logout\") {\n    // Clear user data\n    global.set(\"current_user\", null);\n    global.set(\"access_level\", null);\n    global.set(\"loggedIn\", false);\n\n    return [\n        {\n            // Output 1: UI navigation\n            payload: {\n                tabs: {\n                    show: [\"Sign In\"],\n                    hide: [\"Sensors\", \"GPIO Control\", \"Settings\"]\n                },\n                page: \"Sign In\"\n            }\n        },\n        {\n            // Output 2: Clear username in Navbar\n            payload: {\n                username: null,\n                loggedIn: false\n            }\n        }\n    ];\n}\n\nreturn [null, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 660,
        "wires": [
            [
                "c2aebc34087504e7"
            ],
            [
                "35c6b39ed5a24efa"
            ]
        ]
    },
    {
        "id": "35c6b39ed5a24efa",
        "type": "ui-template",
        "z": "b0a74e34aa15d80a",
        "group": "",
        "page": "",
        "ui": "24f0e001c0e329df",
        "name": "Navbar",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"display: flex; justify-content: space-between; align-items: center;\">\n    <span v-if=\"msg.payload && msg.payload.loggedIn\">\n      <b>Welcome:</b> {{ msg.payload.username }}\n    </span>\n    <span v-else>\n      <b>Not Logged In</b>\n    </span>\n    <v-btn @click=\"logout\" color=\"error\" dark small style=\"margin-left: auto;\">\n      Logout\n    </v-btn>\n  </div>\n</template>\n\n<script>\nexport default {\n  methods: {\n    logout() {\n      this.send({ payload: \"logout\" });\n    }\n  }\n}\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 980,
        "y": 660,
        "wires": [
            [
                "f0503b99b8d5c83a"
            ]
        ]
    },
    {
        "id": "2f6fb602cde6acd0",
        "type": "function",
        "z": "b0a74e34aa15d80a",
        "name": "get username",
        "func": "const name = global.get(\"username\");\nif (global.get(\"loggedIn\") && name) {\n    msg.payload = name;\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "if (global.get(\"loggedIn\")) {\n    msg.payload = global.get(\"username\");\n    return msg;\n}\nreturn null;\n",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 660,
        "wires": [
            [
                "35c6b39ed5a24efa"
            ]
        ]
    },
    {
        "id": "021c43c57cd79f0e",
        "type": "inject",
        "z": "b0a74e34aa15d80a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 660,
        "wires": [
            [
                "2f6fb602cde6acd0"
            ]
        ]
    },
    {
        "id": "6c9aa210863f6d76",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4cf291e9f25b3294",
        "type": "ui-group",
        "name": "Weather",
        "page": "c1bf722dbb3f0a35",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "28a2674678f3708e",
        "type": "ui-group",
        "name": "Movement",
        "page": "c1bf722dbb3f0a35",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6ed2b65f2e7c366b",
        "type": "ui-group",
        "name": "Regiser",
        "page": "3f2efe7276a7e859",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7b7a47908b23ed17",
        "type": "sqlitedb",
        "db": "C:\\Users\\adity\\Downloads\\database\\users1.db",
        "mode": "RWC"
    },
    {
        "id": "3b1a84f5285b89f1",
        "type": "ui-group",
        "name": "LED",
        "page": "56280923f9964293",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b327d24421d42fa3",
        "type": "ui-group",
        "name": "User List",
        "page": "d4d7603c4b2724e5",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "47642211291d9eec",
        "type": "ui-group",
        "name": "Change Access",
        "page": "d4d7603c4b2724e5",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "45f2c8e93885fb82",
        "type": "ui-group",
        "name": "delete user",
        "page": "d4d7603c4b2724e5",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c0daa374d1ce4022",
        "type": "ui-group",
        "name": "Login",
        "page": "3f2efe7276a7e859",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "24f0e001c0e329df",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "c1bf722dbb3f0a35",
        "type": "ui-page",
        "name": "Sensors",
        "ui": "24f0e001c0e329df",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "cdf9030c72090880",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": false,
        "disabled": false
    },
    {
        "id": "3f2efe7276a7e859",
        "type": "ui-page",
        "name": "Sign In",
        "ui": "24f0e001c0e329df",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "cdf9030c72090880",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "56280923f9964293",
        "type": "ui-page",
        "name": "GPIO Control",
        "ui": "24f0e001c0e329df",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "cdf9030c72090880",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "d4d7603c4b2724e5",
        "type": "ui-page",
        "name": "Settings",
        "ui": "24f0e001c0e329df",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "cdf9030c72090880",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "cdf9030c72090880",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]